﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Bartosz Szymik<br/>
    bszymik@gmail.com<br />
    <a href="https://www.linkedin.com/in/bartosz-szymik/" target="_new">https://www.linkedin.com/in/bartosz-szymik/</a><br />
</address>
