﻿@{
    ViewData["Title"] = "Home Page";
}



<div id="odds">

</div>

<div id="msg">

</div>


@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/publicodds.js" asp-append-version="true"></script>
}