﻿@model gig_dev_test.Data.Odd

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Odd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label"></label>
                <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.HomeTeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GuestTeamId" class="control-label"></label>
                <select asp-for="GuestTeamId" class="form-control" asp-items="ViewBag.GuestTeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Odd1" class="control-label"></label>
                <input asp-for="Odd1" class="form-control" />
                <span asp-validation-for="Odd1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddX" class="control-label"></label>
                <input asp-for="OddX" class="form-control" />
                <span asp-validation-for="OddX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odd2" class="control-label"></label>
                <input asp-for="Odd2" class="form-control" />
                <span asp-validation-for="Odd2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
