﻿@model gig_dev_test.Models.ViewModels.OddViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Odd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestTeamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuestTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odd1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Odd1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OddX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OddX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Odd2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Odd2)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
