﻿@model IEnumerable<gig_dev_test.Models.ViewModels.OddViewModel>

@{
    ViewData["Title"] = "1X2 Odds";
}

<h2>1X2 Odds</h2>
<p>
    <a asp-action="Create">+ Add new 1X2 Odds</a>
</p>

<p>
    <a class="btn btn-primary" asp-action="Publish">Publish the Odds</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestTeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OddX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odd2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odd1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OddX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odd2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
